version: "3.9"

services:
  api:
    build: .
    container_name: ai-knowledge-assistant
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app/app
      - ./chroma_db:/app/chroma_db
    restart: unless-stopped
